
/* -------------------------------------นัว----------------------------------------- */

.hero-curve {
    z-index: 0;
    pointer-events: none;
}

.hero-section {
    position: relative;
    background: linear-gradient(to right, #0f0f0f, #1a1a1a);
    overflow: hidden;
    z-index: 1;
}

.league-spartan100 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.nav-link{
    color: #ffffff;
}

.nav-link-user{
  color: #161616;
  text-decoration: none;
}

.nav-link:hover{
    color: #06FF87;
}

.nav-link-user:hover{
  color: #006132;
}

.bg-breadcrumb{
    background-color: #feb000;
}

.thumpnail{
    width: auto;
    height: 100%;
}

.text-thumpnail{
    margin-top: 8%;
    margin-left: 65%;
    transform: translate(-50%, -50%);
}

.text-warning:hover{
    color: #ffdcb4 !important;
}

.btn-warning:hover{
    background-color: #06FF87;
    border-color: #06FF87!important;
    color: white !important;
}

.stickynav{
    color:#393939;
    background-color: #393939!important;
}

.bgcolor{
    background: linear-gradient(90deg, #060606, #1c1c1c);
}

.bgcolor2{
  background: linear-gradient(to top, #060606, #1c1c1c);
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px!important;
}

.zoom {
    transition: transform .2s;
  }
  
.zoom:hover {
transform: scale(1.13);
}

.cardzoom {
    transition: transform .2s;
    margin: 0 auto;
  }
  
.cardzoom:hover {
transform: scale(1.05);
}

.display-4 {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.2; 
}
    /* เพิ่ม */

.categories {
    margin-top: 285px;
    display: flex;
    justify-content: center;
    background-color: #111;
    padding: 1rem;
    color: white;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.categories div {
    flex: 1;
    font-family: 'Spartan';
    text-align: center;
    padding: 1rem;
    border-right: 1px solid #333;
    font-size: 1.1rem;
}

.categories div a{
    text-decoration: none;
    color: white;
}

.categories div:last-child {
    border-right: none;
}

.categories .active {
    text-decoration: none;
    color: #00ff99;
    
}

.btn-lg, .btn-group-lg > .btn {
    font-size: 1.125rem;
    line-height: 1.5;
    border-radius: 0.3rem; }

.perfume{
    font-size: 90%;
    margin-bottom: 3px;
}

.text_on_pic{
    position: relative; 
    display: inline-block;
    width: 100%;
    height: auto;
    z-index: 1;
}

.text_on_pic img{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

.text_on_pic div{
    padding-left: 280px;
    padding-top: 95px;
}

.distance-top{
    margin-top: 1rem;
}

._01_wear_your_own{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    top: 35px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 1;
}

.collection-seeall {
    padding: 40px;
    max-width: 900px;
    margin: auto;
    position: relative;
}

.see-all {
    position: absolute;
    right: 40px;
    top: 40px;
    padding: 7px 35px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 0;
    text-align: left;
}

.img-box{
    height: 230px; /* Make this the height of the tallest image */
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#161616 ;
}

.card {
    padding: 20px;
    width: 260px;
    background: none;
    box-sizing: border-box;
}

.card img {
    height: 150px;
    width: auto;
    margin: 0 auto 0px;
    padding-top: 20px;
    display: block;
    object-fit: contain;
}

.card2 {
    padding: 20px;
    width: 260px;
    box-sizing: border-box;
}

.card2 img {
    height: 150px;
    width: auto;
    margin: 0 auto 0px;
    padding-top: 20px;
    display: block;
    object-fit: contain;
}

.text-each-perfume {
    line-height: 1.2;
    margin-top: 15px;
}

.scent-category {
    all: unset;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 60px;
}

.text-btn{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
}

.fruity{
    padding-left: 420px;
    font-size: 1.3rem;
}

.floral{
    padding-right: 360px;
    font-size: 1.3rem;
}

.slogan {
    display: flex;
    justify-content: space-between;
    padding: 80px 320px;
    background-color: #111;
    flex-wrap: nowrap;
}

.slogan-text p {
    font-size: 2.2rem;
    line-height: 1.1;
    margin: 0;
    font-weight: 600;
}

.slogan-text span {
    color: #06FF87;
}

.underline {
    width: 220px;
    height: 2px;
    background-color: #06FF87;
    margin: 20px 0;
}

.brand-name {
    font-weight: 500;
    color: #aaa;
}

.footer-nav {
    display: flex;
    gap: 60px;
    flex-wrap: nowrap;
}

.footer-nav h4 {
    color: #06FF87;
    margin-bottom: 10px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav li {
    margin-bottom: 6px;
    font-size: 1rem;
    color: white;
    font-weight: 350;
}

.footer-nav li a {
    text-decoration: none;
    color: white;
}

.search-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
  
.search-title {
    margin-top: 80px;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 2px;
}

  .search-title span{
    margin-top: 80px;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #06FF87;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
  }
  
  .search-bar input {
    background-color: #1c1c1c;
    color: #999;
    margin-left: 70px;
    padding: 12px 20px;
    border: none;
    width: 77%;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  .search-bar i {
    background-color: #1c1c1c;
    border: none;
    padding: 12px;
    cursor: pointer;
  }

  .bi-search{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .back-button{
    text-align: justify;
    margin-left: 280px;
    color: #06FF87;
    font-size: 0.9rem;
    margin-bottom: 0;
    cursor: pointer;
    text-decoration: none;
  }

  .back-button a{
    text-decoration: none;
    color: #06FF87;
    font-weight: 300;
  }

  .back-button2{
    text-align: justify;
    margin-left: 0px;
    color: #06FF87;
    font-size: 0.9rem;
    margin-bottom: 0;
    cursor: pointer;
    text-decoration: none;
  }

  .back-button2 a{
    text-decoration: none;
    color: #06FF87;
    font-weight: 300;
  }
  
  .advance-section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .advance-search {
    text-align: justify;
    margin-left: 140px;
    color: #06FF87;
    font-size: 0.9rem;
    margin-bottom: 0;
    cursor: pointer;
    text-decoration: none;
  }

  .advance{
    display: flex;
    gap: 5px;
  }

  .below-advance{
    max-width: 900px;
    margin: 0 auto 80px auto;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
  
  .product-card {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    width: 220px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .brand {
    color:#06FF87;
    font-size: 0.85rem;
    font-weight: 500;
    margin: 0;
  }
  
  .name {
    font-size: 1.1rem;
    font-weight: 340;
    margin-top: 5px;
  }

  .input-box {
    display: flex;
    justify-content: space-between;
    padding: 2px 80px;
    margin: auto auto 30px auto;
    gap: 20px;   
    width: 100%;
    max-width: 1078px;
  }
  
  .label {
    color: #bfbfbf;
    /* background-color: #141414; */
    padding: 10px 30px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    flex: 1;
  }
  
  select {
    letter-spacing: 1px;
    flex: 2;
    background-color: #141414;
    color: #8d8d8d;
    font-size: 18px;
    padding: 10px 150px;
    border-radius: 8px;
    border-color: #141414;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 16 16' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/></svg>");
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 16px;
  }
  
  select:focus {
    outline: none;
    color: white;
  }

  .filter-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 15px;
    margin-right: 283px;
  }
  
  .clear-btn, .search-btn {
    padding: 8px 50px;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .clear-btn {
    background: #e5e5e5;
    color: rgb(27, 27, 27);
  }
  
  .search-btn {
    background: #06FF87;
    color: rgb(26, 26, 26);
  }

  .bgcolor-forTEAM{
    background: linear-gradient(0deg, #000000, #1c1c1c);
  }

  .our-team{
    margin-left: 130px;
    margin-top: 20px;
    letter-spacing: 1px;
  }

  .our-team h1{
    font-weight: 600;
  }

  .our-team span{
    font-size: 17px;
    color: #06FF87;
  }

  .image-ad {
    position: relative;
    z-index: 2;
    display: flex;
    margin: 10px;
    justify-content: center;
    gap: 38px;
    height: 667px;
  }
  
  .team-member {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px; /* optional, to align sizes */
  }
  
  .image-box {
    height: 380px; /* Make this the height of the tallest image */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-box img {
    max-height: 100%;
    width: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .team-member h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .team-member a {
    display: block;
    font-size: 0.9rem;
    color: #a0a0a0;
    text-decoration: none;
    margin: 6px 0;
  }
  
  .team-member .role {
    color: #06FF87;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 5px;
  }

  
  .logo-link {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
  }
  
  .logo-img {
    height: 40px; 
  }

  .admin_log img{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px) grayscale(50%);
    z-index: -1;
  }

  .login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 95px; 
  }
  
  .login-box {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 470px;
    max-width: 90%;
  }
  
  .login-box h2 {
    color: #1c1c1c;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .login-box label {
    color: #1c1c1c;
    font-weight: bold;
    font-size: 13px;
    display: block;
    margin: 2px 0 5px;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 0.5px solid #aaa;
    border-radius: 4px;
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .password-wrapper input {
    padding-right: 30px;
  }
  
  .password-wrapper .eye {
    position: absolute;
    right: 10px;
    top: 42%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .password-wrapper .eye img {
    width: 20px;
    height: 20px;
  }
  
  .auth-wrapper {
    position: relative;
  }
  
  .auth-wrapper input {
    width: 100%;
    padding-right: 140px; 
  }
  
  .resend-btn {
    background: none;
    border: none;
    color: #999;
    font-size: 12px;
    cursor: pointer;
  }
  
  .login-btn {
    width: 100%;
    background-color: #1c1c1c;
    color: white;
    padding: 12px;
    border: none;
    margin-top: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
  }

  .userlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  }

  .userlogin img{
    width: 50%;
    margin-top: 20px;
  }

  .user_log img{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px) grayscale(50%);
    z-index: -1;
  }
  .user-login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px; 
  }
  .google-btn{
    background-color: #d9d9d9;
    width: 100%;
    padding: 10px;
    border: 0.5px solid #aaa;
    border-radius: 7px;
  }
  .google-btn img{
    width: 5%;
  }

  .divider{
    margin-top: 15px;
    margin-bottom: 15px;
    
  }
  .divider img{
    width: 100%;
  }
  
  .user-login-box {
    background: #d9d9d9;
    padding: 40px;
    border-radius: 10px;
    width: 470px;
    max-width: 90%;
  }
  
  .user-login-box h2 {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .user-login-box input {
    background-color: #d9d9d9;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 0.5px solid #aaa;
    border-radius: 7px;
  }
  
  .user-password-wrapper {
    position: relative;
  }
  
  .user-password-wrapper input {
    padding-right: 30px;
    margin-bottom: 10px;
  }
  
  .user-password-wrapper .eye {
    position: absolute;
    right: 10px;
    top: 42%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .user-password-wrapper .eye img {
    width: 20px;
    height: 20px;
  }
  
  .user-login-btn {
    width: 100%;
    background-color: #1c1c1c;
    color: white;
    padding: 12px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
  }
  .black{
    color: #141414;
  }
  .purple-text{
    color: #7D40FF;
    pointer-events: auto;
  }
  .purple-text:hover {
    text-decoration: underline;
    color: #7D40FF;
  }

  .bg-sidenav{
    background-color: #222222 !important;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    min-height: 100vh;
  }
  .sidebar a {
    color: white;
    text-decoration: none;
  }
  .sidebar a.active,
  .sidebar a:hover {
    background-color: #444;
    border-radius: 5px;
    padding-left: 1rem;
  }

  .logout-link {
    margin-top: auto;
  }

  .admininfo-pro{
    margin-top: 20px;
  }
  
  .search-bar2 {
    display: flex;
    justify-content:flex-start;
    margin: 20px 0px;

  }
  .search_bar_d{
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  
  .search-bar2 input {
    background-color: #1c1c1c;
    color: #999;
    padding: 10px 20px;
    width: 450px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-align: start;
  }
  
  .search-bar2 i {
    background-color: #1c1c1c;
    border: none;
    padding: 12px;
    cursor: pointer;
  }

  th{
    font-weight: 400;
    letter-spacing: 1px;
  }

  .image-preview {
    max-width: 100%;
    height: auto;
    border: 1px solid #fff;
    margin-top: 10px;
  }
  .product-image-thumb {
    max-width: 60px;
    max-height: 60px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .btn-success {
    color: #fff;
    background-color: #06ff87;
    border-color: #06ff87; }
    .btn-success:hover {
      color: #fff;
      background-color: #06ff87;
      border-color: #06ff87; }
    .btn-success:focus, .btn-success.focus {
      -webkit-box-shadow: 0 0 0 0.2rem #06ff87;
      box-shadow: 0 0 0 0.2rem #06ff87; }
    .btn-success.disabled, .btn-success:disabled {
      color: #fff;
      background-color: #06ff87;
      border-color: #06ff87; }
    .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
    .show > .btn-success.dropdown-toggle {
      color: #fff;
      background-color: #06ff87;
      border-color: #06ff87; }
      .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
      .show > .btn-success.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem #06ff87;
        box-shadow: 0 0 0 0.2rem #06ff87; }

.Product_text{
  margin-top: 60px;
  margin-left: 839px;
}
.Product_text_color{
  color: #06FF87;
}        
.Product_pretext{
  margin-left: 839px;
  color: #888E90;
}

.Product_pretext img{
 width: 8%;
 margin-left: 25px;
}

 
.product-box {
  background: #BDBDBD;
  padding: 40px;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  width: 550px;
  height: 500px;
  max-width: 90%;
  margin-left: 200px;
  margin-top: -70px;
}

.product-box img{
  width: 100%;
  margin-top: -20px;
}

.main_price{
  margin-left: 839px;
  margin-top: -400px;
}


.quan{
  margin-top: 40px;
  margin-left: 839px;
  
}
#quantity {
  width: 50px;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: #000000;
  background-color: white;
  text-align: center;   
  padding-right: 20px;
  margin-right: 7px;
}
.add_cart{
  height:40px;
  width: 70%;
  border-radius: 5px;
  background-color: #34383C;
  color: #fff;
  border: none;
}
.add_cart_price{
  margin-left: 250px;
}

.buy_now{
  height:40px;
  width: 503px;
  border-radius: 5px;
  background-color: #fff;
  color: #000000;
  border: none;
  margin-left: 838px;
  margin-top: 10px;
}
.buy_now_split{
  margin-left: 374px;
}
.buy_now img{
  width: 5%;
}
.product_id{
  margin-top: 20px;
  margin-left: 840px;
  color: gray;
}

.d_product{
  display: flex;
  margin-top: 60px;
  margin-left: 870px;
  margin-bottom: -20px;
}
.p-2{
  margin-right: 30px;
}
.discription_detail{
  color: gray;
  margin-top: -5px;
  margin-left: 840px;
}
.see_more{
  cursor: pointer;
  margin-left: 840px;
}
.see_more_S{
  margin-top: 15px;
  margin-bottom: 10%;
}




.g-recaptcha{
  margin-left: 45px;
  margin-top: 8px;
}